*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@keyframes slideUp {
    from {
        /* transform: translateX(200px); */
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in-up {
    opacity: 0; /* Make items hidden at the beginning */
}

.animate {
    animation: slideUp 1s ease-out forwards;
}
.animate-delay{
    animation-delay: 0.3s;
}
